name: Python CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-20.04
        python-version:
          - 3.8
    steps:
    - uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -r requirements/pip.txt
        pip install -r requirements/ci.txt

    - name: Copy LRS Properties File
      run: cp test/resources/lrs_properties.py.ci test/resources/lrs_properties.py

    - name: Run Tests
      run: python test/main.py
